@{ 
    ViewBag.Title = "Home Page";
    
}
<h2>Grupo Ecológico de Cascais</h2>
<h3>Flora</h3>
<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>