/*site.css*/
body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
}

.bars {
    border: 2px solid white;
    width: 85%;
    
    margin: 15% auto 15% auto;
    padding: 0 1% 0 1%;
}

#buttonMenu {
    width: 100%;
    
    
}

    #buttonMenu:hover {
    }

#footer {
    background-color: #2a2c36;
    color: #eee;
    padding: 2% 1%;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    background: linear-gradient(rgba(42,44,54,1),rgba(42,44,54,0.80), rgba(42,44,54,1));
}



label {
    font-weight: bold;
    display: block;
}

input[type=text], input[type=password], textarea {
    width: 150px;
}

#main {
    background-color: #eee;
    padding: 4px;
    margin: 0;
}

#logo {
    margin: 16% 0 0 16%;
}

.headshot {
    max-width: 75%;
    border: 0.5px solid rgba(5,160,108,1);
    border-radius: 100%;
    margin-bottom: 20%;
    box-shadow: 4px 3px 20px 5px rgba(42,44,54,0.80);
    
}
.headshot:hover {
    box-shadow:  1px 1px 40px 5px white;
}

    .headshot img {
        max-width: 100%;
    }

.menu {
}

    .menu li {
        text-align: center;
        list-style-type: none;
        width: 100%;
        /*border: 0.5px solid #029665;*/
        border-left: 0;
        border-radius: 2%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 0;
        padding-left: 0;
        font-family: sans-serif;
        font-size: 16px;
    }
    
        .menu li:hover {
            
            background: linear-gradient(rgba(5,160,108,1),rgba(2,150,101,0.5), rgba(5,160,108,1));
            box-shadow: 1px 1px 150px 1px rgb(5,160,108);
            border-top: solid 0.5px #318E6B;
            border-bottom: solid 0.5px #318E6B;
             
        }

        .menu li a:active {
            background-color: #029665;
        }

        .menu li.active {
            font-weight: bold;
        }

        .menu li a {
            font-size: 18px;
            font-family: fantasy;
            color: white;
            text-decoration: none;
            font-weight: 100;
        }

            .menu li a:hover {
                color: white;
            }


#sidebar {
    display: block;
    background: #2a2c36;
    color: #eee;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
    -moz-transition: left ease .60s;
    -o-transition: left ease .60s;
    -webkit-transition: left ease .60s;
    transition: left ease .60s;
    /*background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(42,44,54,1)); /*Safari 5.1-6*/
    /*background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(42,44,54,1)); /*Opera 11.1-12*/
    /*background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(42,44,54,1));*/ /*Fx 3.6-15/*/
    background: linear-gradient(rgba(42,44,54,1),rgba(42,44,54,0.80), rgba(42,44,54,1));
}

    #sidebar.hide-sidebar {
        left: -250px;
        -moz-transition: left ease .60s;
        -o-transition: left ease .60s;
        -webkit-transition: left ease .60s;
        transition: left ease .60s;
    }

ul {
    padding: 0;
}

#sidebarToggle {
    font-weight: 100;
    background-color: #00A064;
    color: white;
    padding: 0.6%;
    
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #068B59;
    box-shadow: 2px 1.5px 15px 2px #808080;
    -moz-transition: background-color ease .3s;
    -o-transition: background-color ease .3s;
    -webkit-transition: background-color ease .3s;
    transition: background-color ease .3s;
    font-weight: bold;
    width: 3%;
    height: 3%;
    
    
}

    #sidebarToggle:after {
    }

    #sidebarToggle:hover {
        box-shadow: 2px 1.5px 15px 5px #808080;
       
    }

#wrapper {
    display: block;
    margin: 0 0 0 250px;
    -moz-transition: margin-left ease .60s;
    -o-transition: margin-left ease .60s;
    -webkit-transition: margin-left ease .60s;
    transition: margin-left ease .60s;
}

    #wrapper.hide-sidebar {
        margin-left: 0;
        -moz-transition: margin-left ease .60s;
        -o-transition: margin-left ease .60s;
        -webkit-transition: margin-left ease .60s;
        transition: margin-left ease .60s;
    }

@keyframes buttonAnimation {
    from {
        float: right;
    }

    to {
        float: left;
    }
}
