@{
    ViewBag.Title = "Playground Page";

}
<div class="row">
    <div class="col-md-6">
        <h2>Playground</h2>

        <form>
            <div>
                <label>Date</label>
                <input />
            </div>
            <div>
                <label>Location</label>
                <input />
            </div>
            <div><input type="submit" value="Add" /></div>
        </form>
    </div>
    <div class="col-md-6"></div>
</div>