@{
    ViewBag.Title = "Playground Page";

}
<h2>Playground</h2>
<h3>Globe</h3>
<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>