@model IEnumerable<Gec.Models.Playground.Trip>
@{
    ViewBag.Title = "Playground Page";

}
<div class="row">
    <div class="container">
        <div class="col-md-6">
            <a asp-controller="Playground" asp-action="Trips">
                <div class="thumbnail">
                    <img class="img-responsive" src="~/img/world.jpg" />
                </div>
            </a>
        </div>
    </div>
</div>